
/*
  View style for results
*/

#countries-page
  table
    margin-top 50px 
    border-collapse collapse
    width 100%
    font-weight normal
    font-size 90%
  th
    padding 5px
    border 1px solid gray
    background-color #EBC299
  td
    padding 5px
    border 1px solid gray
    text-align center
	
  .even
    background-color #FFF5E6
  .odd
    background-color #FFFBF5

  .flag
    img
      border 1px solid black