
/*
  View style for home-page
*/

#home-page
    margin-top 50px 
    width 100%
    p
      padding 5px
      font-weight normal
      font-size 90%
      line-height 150%
      color #1
  
    img
      border 1px solid black
      width 100%