
/*
  All the different views of this application.
  Might make sense to separate into individual files when things start growing.
*/

#result-page
  table
    margin-top 50px 
    border-collapse collapse
    width 100%
    font-weight normal
    font-size 90%
  th
    padding 5px
    border 1px solid gray
    background-color #FFBB80
  td
    padding 5px
    border 1px solid gray
    	
  .flag
    td   
      position absolute 
      width 100%
      height 100%
      text-align center 
      vertical-align middle
      z-index  9999